@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}